In [1]:
def fname(p1,p2):
    print(p1,p2)

In [2]:
fname("tanish",25)

tanish 25

In [5]:
age=67

In [8]:
def fname(p1,p2): #positional parameter
    print(age)
    print(p1,p2)

In [9]:
fname("tanish",25)

67
tanish 25

In [10]:
fname(p2="something", p1="else")

67
else something

In [12]:
fname(34,p2="something")

67
34 something

In [16]:
def another(one,two,four,three=3):
    pass

In [17]:
type(another)

function

In [18]:
def another(one,two,four,three=3):
    print("i am another function")

In [23]:
faltu=another #function can change there refrences

In [24]:
type(faltu)

function

In [25]:
faltu(1,2,3)

i am another function

In [26]:
def sqr(x):
    return x*x

In [34]:
fn=lambda x: x*x  #Lambda Function

In [35]:
sqr(4)

16

In [36]:
fn(4)

16

In [37]:
line="22 56 12 34"

In [38]:
line.split(" ")

['22', '56', '12', '34']

In [1]:
line="22, 56, 12, 34"

In [2]:
line.split(", ")

['22', '56', '12', '34']

In [3]:
arr=line.split(", ")

In [4]:
map(int, arr)

In [5]:
list(map(int, arr))

[22, 56, 12, 34]

In [6]:
list(map(lambda x: int(x) ** 3, arr))

[10648, 175616, 1728, 39304]

In [10]:
class human:
    def __init__(self): #__ is termed as dunder
        self.name="default"

In [11]:
mohit=human() #object of class human
rohan=human()

In [12]:
type(mohit)

__main__.human

In [13]:
mohit.name="mohit chadda"

In [14]:
mohit

'mohit chadda'

In [114]:
rohan.name

'default'

In [115]:
class human:
    def __init__(self,name="default"):  #__ is termed as dunder
        self.name=name

In [116]:
sumit=human()

In [117]:
sumit.name

'default'

In [128]:
class human:
    def __init__(self,name="default"):  #__ is termed as dunder
        self.name=name
    def run(self):     #this is polymorphism in which second same named method overwrites the previous one hence it hides away
        pass
    def run(self,name,age=0):
        print("hello")
    @classmethod
    def met(cls,val):     #it is for static function we use class method
        cls.age=val

In [129]:
sumit=human()

In [130]:
sumit.run("tanish",21)

hello