In [1]:
import pandas as pd

In [9]:
s1=pd.Series([1,2,5,8,9])  #Series & dataframes are classes in pandas

In [10]:
s1

0    1
1    2
2    5
3    8
4    9
dtype: int64

In [11]:
s2=pd.Series(["Tanish","mohit","rajan"])

In [12]:
s2

0    Tanish
1     mohit
2     rajan
dtype: object

In [13]:
s1[1]

2

In [19]:
d={"names":["amit","tanish","ravi"],"ages":[25,31,32]}

df=pd.DataFrame(d)

In [20]:
df

   ages   names
0    25    amit
1    31  tanish
2    32    ravi

In [64]:
data=pd.read_csv("C:\\Users\\Tanish Saxena\\Python Coding Blocks Machine Learning\\Lecture_05\\mnist_train_small.csv")

In [65]:
vals=data.values

In [66]:
type(vals)

numpy.ndarray

In [67]:
vals.shape

(8000, 786)

In [68]:
X=vals[:,2:]
y=vals[:,1]