# VARIABLES

In [1]:
a=1

In [2]:
b=a

In [3]:
a=7

In [4]:
print(b)

1

# Arithmetic

*  (+) plus
*  (-) minus
*  (*) mul
*  / div
*  // integer
*  ** power
*  % mod

In [8]:
-5%-4

-1

## Logical

* and
* or
* not
* xor (^)

## Comparison

* ==
* <
* >
* <=
* (>=)

## IF else

In [18]:
year = input("Enter a Year")
year = int(year)
if year%4==0:
    print("Leap year")
else:
    print("NOT a Leap Year")

Enter a Year2000
Leap year

## LOOP

In [19]:
print?

In [1]:

for i in range(4):
    for j in range(4):
        print("*" , end=" ")
    print("\n")

* * * *

* * * *

* * * *

* * * *

In [7]:
n=4
row=0
while row<n:
    col=0
    while col<n:
        print("* ", end=" ")
        col+=1
    row+=1
    print()

*  *  *  *
*  *  *  *
*  *  *  *
*  *  *  *

In [3]:
n=4
row=0
while row<n:
    col=0
    while col<=row:
        print("* ", end=" ")
        col+=1
    row+=1
    print()

*
*  *
*  *  *
*  *  *  *

In [12]:
n=4
row=0
while row<n:
    col=0
    while col<4-row:
        print("* ", end=" ")
        col+=1
    row+=1
    print()

*  *  *  *
*  *  *
*  *
*

In [10]:
n=4
row=0
while row<n:
    col=0
    while col<4-row:
        print(str(col+1)+" ", end=" ")
        col+=1
    row+=1
    print()

1  2  3  4
1  2  3
1  2
1

In [1]:
n=4
row=0
v_mir=0
while v_mir<2*n-1:
    col=0
    while col<=row:
        print("* ", end=" ")
        col+=1
    if v_mir<n:
        v_row+=1
    else:
        v_row-=1
    print()

*

NameError: name 'v_row' is not defined

In [2]:
str?

In [3]:
name="TANISH"

In [4]:
len(name)

6

In [6]:
name[0:3]

'TAN'

In [30]:
items=[2,4,6,8]

In [20]:
max(items)

8

In [9]:
min(items)

2

In [27]:
a=0
bool(a)

False

In [37]:
items=[1,2,3,4,5,6]

In [38]:
items[0:2]=[5]

In [39]:
print(items)

[5, 3, 4, 5, 6]

In [40]:
5 in items

True

In [41]:
2 in items

False

## SORT

In [42]:
items=[2,6,3,1,4]

In [43]:
items.sort()

In [44]:
print(items)

[1, 2, 3, 4, 6]

In [46]:
sorted(items, reverse=True)

[6, 4, 3, 2, 1]

# DICTIONARY

In [47]:
coll={}

In [58]:
coll["apple"]="a sweet red fruit"
coll

{'apple': 'a sweet red fruit'}

In [ ]:
coll["apple"]

In [65]:
for items in coll:
    print(items)

apple

# ZIP

In [66]:
names=["Mohit","sumit","rohan"]
ages=[22,30,18]

In [67]:
list(zip(names,ages))

[('Mohit', 22), ('sumit', 30), ('rohan', 18)]

In [70]:
names=["Mohit","sumit","rohan","mukul"] #uneven
ages=[22,30,18]

In [71]:
list(zip(names,ages))

[('Mohit', 22), ('sumit', 30), ('rohan', 18)]

In [72]:
#tuple is imutable

In [73]:
#list is mutable

In [76]:
items=(22,33,44)

In [77]:
type(items)

tuple

In [94]:
items=(22,33,44)

In [79]:
type(items)

list

In [80]:
# is hash code of any items changes and refrences changes hence they are immutable

In [81]:
# if hash code are same and objects remains same then they are mutable

In [82]:
# we can zip any iterable objects like list tuple

In [83]:
zip?

In [84]:
enumerate(items)

In [85]:
list(enumerate(items))

[(0, 22), (1, 33), (2, 44)]

In [86]:
zip(range(len(items)),items)

In [87]:
list(zip(range(len(items)),items))

[(0, 22), (1, 33), (2, 44)]

In [91]:
for item in enumerate(items):
    print(type(item))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [96]:
items[1]

33

In [95]:
items[1:2]

(33,)